/*reset*/


html * { margin:0; padding:0; }


/*animation*/

    @keyframes bg_longer{
            from {background-size: 0% 100%;}
            to {background-size: 40% auto;}
        }
        
    @keyframes reverse_blur{
        from { -webkit-filter: none;
            filter: none;}
        to{-webkit-filter: blur(8px);
            filter: blur(8px);}
        }
    
    @keyframes opacity{
        from{opacity: 0;}  
        to{opacity: 1;}  
        }
        
    @keyframes nav_longer{
            from {width : 200px;}
            to {width : 100%;}
        }
    @keyframes positionDowntoUp{
            from { transform}
        }
        
    @keyframes moveX{
            from {transform:translateX(-20px);}
            to {transform:translateX(0px);}
        }

    @keyframes moveUp{
            from {transform:translateY(50px);}
            to {transform:translateY(0px);}
        }

    @keyframes moveRight_delay{
            0%{transform:translateX(-20px);}
            30%{transform:translateX(-20px);}
            100%{transform:translateX(0px);}
        }

 @keyframes opacity_delay{
        0%{opacity: 0;}  
        30%{opacity: 0;}
        100%{opacity: 1;}  
        }
        
    .moveUp{
        animation: moveUp;  
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }

    .bold{
        font-weight: 500;
        top: 30px;
        position: fixed;
        width: 90%;
        max-width: 90em;
        mix-blend-mode: multiply;
    }
        
    body{
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: 14px;
            letter-spacing: 1px;
            background-image: url(img/contact_bg.png);
            background-position: 100% 0;
            background-size: 40% auto;
            background-repeat: no-repeat;
            position: relative;
            animation: opacity;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            position: relative;
            
        }


    .container{
        margin: auto;
        width: 90%;
        max-width: 90em;
        }
        
/*--navigation----------------------------------*/
nav{
    width: 90%;
    max-width: 90em;
    position: absolute;
    top: 0;
}   
    #nav_grad{
        margin-bottom: 13px;
        height: 14px;
        width: 100%;
        background: rgba(255, 180, 126, 73);
        background: -webkit-linear-gradient(left,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -o-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -moz-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: linear-gradient(to right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        animation: nav_longer, opacity;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }
        
    .nav_menu{
            color: #333333;
            display: flex;
            justify-content: space-between;
        }   
       .nav_menu div{
        width: 100px;
}
    .nav_menu a {
        color: #333333;
        text-decoration: none;
        transition: all .5s;
        }

    .nav_menu #nav02{
        text-align: center;
    }

    .nav_menu #nav03{
        text-align: right;
    }


   .nav_menu #nav01:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(255, 180, 126, .3);
    
    }

   .nav_menu #nav02:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(185, 155, 202, .4);
    
    }  

.nav_menu #nav03:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(79, 72, 255, .2);
    
    }

/*--navigationEnd------------------------------*/

    header{
        height: 704px;
        padding-top: 25px; 
        margin-top: 45px;
        }
        
/*title---------------------------------------*/

.title_container{
    overflow: hidden;
}

    #title {
        margin-top: 220px;
        margin-left: 50px;
        letter-spacing: 3px;
        font-size: 55px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size:3.5em;
        position:relative;
        color:#333;
        animation: moveUp,opacity;
        animation-duration: .8s;

    }
    
    #title_add{
            font-weight: 200;
            margin-top: 10px;
            margin-left: 50px;
            font-size: 13px;
            letter-spacing: 2px;
            display: inline-block;
        
            animation: moveX, opacity;
            line-height: 2;
            animation-duration: .8s;
            animation-timing-function: ease-in-out;
        }
        



#tool_title{
        margin-top: 60px;
          margin-left: 50px;
            font-size: 13px;
            letter-spacing: 2px;
            display: inline-block;
            font-weight: 700;
            color: #ccc;
            width: 100%;
            animation: moveRight_delay, opacity_delay;
            line-height: 2;
            animation-duration: 1.3s;
            animation-timing-function: ease-in-out;
}

#title_add a:link{
    color:rgba(79,72,255,73);
}
#title_add a:hover{
    color:#FFB47E;
}

#title_add a{
    text-decoration: none;
}

.tool{
    display: flex;

           margin-top: 20px;
            margin-left: 50px;
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 400;
            color: #ccc;
            animation: moveRight_delay, opacity_delay;
            line-height: 3;
            animation-duration: 1.3s;
            animation-timing-function: ease-in-out;
            margin-bottom: 80px;
}

.tool #list1{
    width: 240px;
}



