/*reset*/


html * { margin:0; padding:0; }


/*animation*/

    @keyframes bg_longer{
            from {background-size: 0% 1200px;}
            to {background-size: 40% 1200px;}
        }
        
    @keyframes reverse_blur{
        from { -webkit-filter: none;
            filter: none;}
        to{-webkit-filter: blur(8px);
            filter: blur(8px);}
        }
    
    @keyframes opacity{
        from{opacity: 0;}  
        to{opacity: 1;}  
        }
        
    @keyframes nav_longer{
            from {width : 200px;}
            to {width : 1200px;}
        }
    @keyframes positionDowntoUp{
            from { transform}
        }
        
    @keyframes moveX{
            from {transform:translateX(-20px);}
            to {transform:translateX(0px);}
        }

    @keyframes moveUp{
            from {transform:translateY(50px);}
            to {transform:translateY(0px);}
        }
        
    .moveUp{
        animation: moveUp;  
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }

    .bold{
        font-weight: 600;
        top: 30px;
        position: fixed;
        width: 88.5%;
        font-weight: 600;
        mix-blend-mode: multiply;
    }
        
    body{
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: 14px;
            letter-spacing: 1px;
            background-image: url(img/bg_grad1.png);
            background-position: 100% 0;
            background-size: 40% 1200px;
            background-repeat: no-repeat;
            animation: bg_longer, opacity;
            animation-duration: .3s;
            animation-timing-function: ease-in-out;
            position: relative;
            
        }


    .container{
        margin: auto;
        width: 90%;
        max-width: 90em;
        }
        
/*--navigation----------------------------------*/
nav{
    width: 90%;
    max-width: 90em;
    position: absolute;
    top: 0;
}   
    #nav_grad{
        margin-bottom: 13px;
        height: 14px;
        width: 100%;
        background: rgba(255, 180, 126, 73);
        background: -webkit-linear-gradient(left,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -o-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -moz-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: linear-gradient(to right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        animation: nav_longer, opacity;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }
        
    .nav_menu{
            color: #333333;
            display: flex;
            justify-content: space-between;
        }   
    .nav_menu a {
        color: #333333;
        text-decoration: none;
        transition: all .5s;
        }

   .nav_menu input{
        border: none;
        position: relative;
        color: #333;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 14px;
        letter-spacing: 1px;
        transition: all .5s;
        } 

  .nav_menu #nav01:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(255, 180, 126, .2);
    
    }

   .nav_menu #nav02:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(79, 72, 255, .2);
    
    }  


/*--navigationEnd------------------------------*/

    header{
        height: 704px;
        padding-top: 25px; 
        margin-top: 45px;
        }
        
/*title_animation---------------------------------------*/

    #title {
        margin-top: 240px;
        margin-left: 50px;
        letter-spacing: 3px;
        font-size: 55px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size:3.5em;
        position:relative;
        color:#333;

    }
/*title_animation_end-----------------------------------*/
    
    #title_add{
        margin-top: 10px;
          margin-left: 50px;
            font-size: 13px;
            letter-spacing: 2px;
            display: inline-block;
        
            animation: moveX, opacity;
            line-height: 2;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
        }
        
     #subtitle{
            float : right;
            margin-top: -250px;
            margin-right: 150px;
            font-weight: 900;
            font-style: italic;
            font-size: 50px;
            color: rgba(200,200,200,0.5);
            letter-spacing: 4px;
            mix-blend-mode : multifly;
            display: inline-block;
            animation: reverse_blur, moveX;
            animation-duration: 1s;
            -webkit-filter: blur(8px);
            filter: blur(8px);
            transition: all 1s;
        }
        
    #subtitle:hover{
            -webkit-filter: none;
            filter: none;
            color: rgba(150,150,150,0.5);
            font-style: none;
            margin-right: 130px;
        }



#tool_title{
        margin-top: 60px;
          margin-left: 50px;
            font-size: 13px;
            letter-spacing: 2px;
            display: inline-block;
            font-weight: 700;
            color: #ccc;
            width: 100%;
            animation: moveX, opacity;
            line-height: 2;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
}



.tool{
    display: flex;

           margin-top: 20px;
            margin-left: 50px;
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 400;
            color: #ccc;
            animation: moveX, opacity;
            line-height: 3;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
            margin-bottom: 100px;
}

.tool #list1{
    width: 240px;
}



