/*reset*/


html * { margin:0; padding:0; }


/*animation*/

    @keyframes bg_longer{
            from {background-size: 0% 1200px;}
            to {background-size: 40% 1200px;}
        }
        
    @keyframes reverse_blur{
        from { -webkit-filter: none;
            filter: none;}
        to{-webkit-filter: blur(8px);
            filter: blur(8px);}
        }
    
    @keyframes opacity{
        from{opacity: 0;}  
        to{opacity: 1;}  
        }
        
    @keyframes nav_longer{
            from {width : 200px;}
            to {width : 1200px;}
        }
    @keyframes positionDowntoUp{
            from { transform}
        }
        
    @keyframes moveX{
            from {transform:translateX(-20px);}
            to {transform:translateX(0px);}
        }

    @keyframes moveUp{
            from {transform:translateY(50px);}
            to {transform:translateY(0px);}
        }
        
    .moveUp{
        animation: moveUp;  
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }

    .bold{
        top: 30px;
        position: fixed;
        width: 90%;
        max-width: 90em;
        font-weight: 500;
        mix-blend-mode: multiply;
    }
        
    body{
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: 14px;
            letter-spacing: 1px;
            background-image: url(img/bg_grad1.png);
            background-position: 100% 0;
            background-size: 40% 1200px;
            background-repeat: no-repeat;
            animation: bg_longer, opacity;
            animation-duration: .3s;
            animation-timing-function: ease-in-out;
            position: relative;
            
        }


    .container{
        margin: auto;
        width: 90%;
        max-width: 90em;
        }
        
/*--navigation----------------------------------*/
nav{
    width: 90%;
    max-width: 90em;
    position: absolute;
    top: 0;
}   
    #nav_grad{
        margin-bottom: 13px;
        height: 14px;
        width: 100%;
        background: rgba(255, 180, 126, 73);
        background: -webkit-linear-gradient(left,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -o-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -moz-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: linear-gradient(to right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        animation: nav_longer, opacity;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }
        
    .nav_menu{
            color: #333333;
            display: flex;
            justify-content: space-between;
        } 
    .nav_menu div{
        width: 100px;
}
    .nav_menu a {
        color: #333333;
        text-decoration: none;
        transition: all .5s;
        }

    .nav_menu #nav02{
        text-align: center;
    }

    .nav_menu #nav03{
        text-align: right;
    }


  .nav_menu #nav01:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(255, 180, 126, .3);
    
    }

   .nav_menu #nav02:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(185, 155, 202, .4);
    
    }  

.nav_menu #nav03:hover{
        font-style: italic;
        font-weight: 600;
        color: #666;
        background-color: rgba(79, 72, 255, .2);
    
    }

/*--navigationEnd------------------------------*/

    header{
        height: 685px;
        padding-top: 25px; 
        margin-top: 45px;
        }
        
/*title_animation---------------------------------------*/
    .hidden {
          opacity:0;
    }
    .console-container {
        margin-top: 300px;
        margin-left: 50px;
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 55px;
        display: inline-block;
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size:4em;
          height:100px;
          width:550px;
          position:relative;
          color:#ccc;

    }
    .console-underscore {
       display:inline-block;
      position:relative;
      top:-0.14em;
      left:10px;
    }
/*title_animation_end-----------------------------------*/
    
    #title_add{
          margin-left: 50px;
            font-size: 13px;
            letter-spacing: 9px;
            display: inline-block;
            animation: moveX, opacity;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
        }
        
     #subtitle{
            float : right;
            margin-top: -250px;
            margin-right: 150px;
            font-weight: 900;
            font-style: italic;
            font-size: 50px;
            color: rgba(200,200,200,0.5);
            letter-spacing: 4px;
            mix-blend-mode : multifly;
            display: inline-block;
            animation: reverse_blur, moveX;
            animation-duration: 1s;
            -webkit-filter: blur(8px);
            filter: blur(8px);
            transition: all 1s;
        }
        
    #subtitle:hover{
            -webkit-filter: none;
            filter: none;
            color: rgba(150,150,150,0.5);
            font-style: none;
            margin-right: 130px;
        }



/*work list*/

    #workTitle{
            padding-top: 1em;
            font-size: 24px;
            text-align: center;
            font-weight: 800;
            color: #ccc;
        }
    .list{
           margin-top: 30px; 
        }

    .list_container{
          display: flex;     
            width: 100%;
        justify-content: space-between;
        }
        

    .blist, .slist_left, .slist_right{

            height: 500px;
            background-color: #333;  
            margin-top: 20px;
            overflow: hidden;
            position: relative;
            opacity: 0;
        }
        
#caption{
    position: absolute;
    z-index: 1;
    left: 0px;
    opacity: 0;
    transition: all 1s;
    animation-timing-function: ease-in-out;
}

#caption #title{
    margin-top: 5em;
    margin-left: 60px;
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    
}

#caption #txt{
    margin-left: 60px;
    margin-top: 1em;
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 1.5;
    
}




    .blist{
            width: 100%;
        }
    .slist_left{
            width: 99.2%;
        margin-right: .8%
        }
    .slist_right{
            width: 99.2%;
        margin-left: .8%
        }

#list1 img{
    width: 100%;
    height: auto;
}

.slist_right img{
    width: 100%;
    height: auto;
}

.slist_left img{
    width: 100%;
    height: auto;
}
#list4 img{
    width: 100%;
    height: auto;
    background-color: #FFFBBF;
    
}

.blist img, .slist_right img, .slist_left img{
    transition: all .8s;
    animation-timing-function: ease-in-out;
}

.blist:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .5;
}

.slist_right:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .5;
}


.slist_left:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .5;
}


.blist:hover #caption{
    opacity: 1; 
    left: 30px;
    }

.slist_right:hover #caption{
    opacity: 1; 
    left: 30px;
    }

.slist_left:hover #caption{
    opacity: 1; 
    left: 30px;
    }
/*footer*/

footer{
    height: 100px;
}
    

/*
        
    .blist:hover{
            box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.12);
            transform: translateY(-3px);
        }

.slist_right:hover, .slist_left:hover{
            box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.12);
            transform: translateY(-3px);
               
*/
        }


/*   footer*/

    footer div{
            width: 100p%;
            height: 200px;
        }


            