/*header*/



header{
        height: 480px;
        padding-top: 85px;
    
            
        }
        
    #coverimg{
            position: absolute;
            top: 72px;
        height: 900px;
        z-index: -1;
        right: 20px;
        animation: opacity, moveLeft;
        animation-duration: 2s;
        clip: rect(0px, 1200px, 560px, 0px);
    
        }
        
    .title_container{
            margin-top: 60px;
        }
    header #title{
            margin-top: 55px;
            margin-left: 15px;
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 55px;
            display: inline-block;
            animation : moveRight, opacity;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            
        }
        
        
    #subtitle1{
            margin-left: 20px;
            margin-top: 20px;
            font-size: 13px;
            letter-spacing: 9px;
            line-height: 30px;
            animation : moveRight_delay, opacity_delay;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
        }
        
    #subtitle2{
            margin-left: 20px;
            margin-top: 12px;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 23px;
            animation : moveRight_delay, opacity_delay;
            animation-duration: 1.8s;
            animation-timing-function: ease-in-out;
        }

    #grad_line{
        height: 1px;
        width: 100%;
        background: rgba(255, 180, 126, 73);
        background: -webkit-linear-gradient(left,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -o-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: -moz-linear-gradient(right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        background: linear-gradient(to right,rgba(255, 180, 126, 73), rgba(79, 72, 255, 73));
        animation: nav_longer, opacity;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        }
        

/*animation*/


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
    animation: bounceIn;  
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}




/*section*/

#sec1{
    width: 100%;
    height: 688px;  
    opacity: 0;
}

.secdivider{
    display: flex;
    opacity: 0;
}

.secdivider_left{
    width: 50%; 
    height: 600px; 
    opacity: 0;
}
.secdivider_right{
    width: 50%;
    height: 600px;
    opacity: 0;
}


#sec1 #title{
    font-weight: 900;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin-top: 140px;
    font-size: 30px;
    color: #aeaeae; 
    opacity: 0;
}

#sec1 #txt1{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    line-height: 30px;
    color: #757575;  
    opacity: 0;
}

#sec1 #img_arrow{
    margin-top: 100px;
    width: 100%;
}

.arrow_caption_container{
    margin-top: 10px;
    display: flex;
    color : #ccc;
    font-weight: 400;
}
.arrow_caption_container #right{
    float: right;
    width: 94%;
    text-align: right;
}

.character_container{
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
}

#sec1 #img_sloth{
    width: 240px;
    height: 210px;
    margin-left: 40px;
}
#sec1 #img_cat{
    width: 240px;
    height: 210px;
    margin-left: 40px;
}

#sec1 #img_dog{
    width: 240px;
    height: 210px;
    margin-left: 40px;
}

#sec1 #img_monky{
    width: 240px;
    height: 210px;
    margin-left: 40px;
}

#sec1 .caption{
    width: 240px;
    margin-left: 40px;
}


#sec2{
    width : 100%;
    height: 850px;  
    opacity: 0;    
}


#bg1{
    position: absolute;
    left: 0;
    top:1460px;
    width : 100%;
    height: 850px;  
    background-color: #f3f3f3;
    z-index: -1;
}

.icon_container{
    position: absolute;
    top:1620px;
    right: 200px;
    width: 720px;
    height: 480px;
}
.icon_container_1{
    display: flex;
    width: 720px;
    height: 120px;
}

.icon_container_1 div{
    width: 120px;
    height: 120px;
    margin-left: 60px;
    
}

.icon_container img{
    width: 120px;
    
}
.icon_container_2{
    margin-top: 60px;
    display: flex;
    width: 720px;
    height: 120px;
}

.icon_container_2 div{
    width: 120px;
    height: 120px;
    margin-left: 60px;
}

.icon_container_3{
   margin-top: 60px;
    display: flex;
    width: 720px;
    height: 120px;
}

.icon_container_3 div{
    width: 120px;
    height: 120px;
    margin-left: 60px;
}

#icon_grid{
    position: absolute;
    top:1620px;
    right: 200px;
    width: 660px;
}



#sec2 #title{
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 250px;
    margin-left: 40px;
    font-size: 30px;
    color: #aeaeae;  
    opacity: 0;
}


#sec2 #txt1{
    margin-left: 40px;
    font-size: 14px;
    margin-top: 20px;
    line-height: 30px;
    color: #757575;   
    opacity: 0;
}



#sec3 #title{
    font-weight: 900;
    letter-spacing: 2px;
    width: 100%;
    font-size: 30px;
    color: #333;
    text-align: center;
    opacity: 0;
}

#sec3 #img01{
    width: 400px;
    margin-top: 130px;
    margin-left: 160px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.12);
    float: left;
    opacity: 0;
}

#sec3 #name01{
    margin-top: 300px;
    color : #ccc;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    display: block;
    opacity: 0;
}

#sec3 #txt01{
    display: inline-block;
    width: 300px;
    line-height: 1.8;
    margin-left: 60px;
    margin-top: 30px;
    opacity: 0;
}

#sec3 #img02{
    margin-top: 300px;
    width: 400px;
    margin-right: 160px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.12);
    float: right;
    opacity: 0;
}

#sec3 #name02{
    margin-top: 600px;
    color : #ccc;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 3px;
    text-align: right;
    line-height: 1.1;
    opacity: 0;
}

#sec3 #txt02{
    display: inline-block;
    width: 250px;
    line-height: 1.8;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 500px;
    opacity: 0;
}

#sec4{
    height: 2200px;
}


#sec4 #refletImg{
     z-index: -1;
    position: absolute;
    top:4250px;
    left: 0px;
    width : 100%;
    height: 1000px;
    opacity: 0;
}

#sec4 #smallTitle{
    margin-top: 90px;
    font-size: 24px;
    color: #757575;
    text-align: center;
    opacity: 0;
    font-weight: 900;
    letter-spacing: 2px;
    opacity: 0;
}


#sec4 #bigTitle{
    margin-top: 50px;
    width: 100%;
    font-size: 34px;
    color: #aeaeae;
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    opacity: 0;
}

#sec4 #txt1{
    font-size: 18px;
    margin-top: 800px;
    line-height: 36px;
    color: #757575;   
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 0;
}



#sec4 #reflet_all{
    margin-top: 120px;
    width : 100%;
    position: absolute;
    left: 0;
    background-color: #eee;
    opacity: 0;
}

#sec5{
    height: 1400px;
}

#sec5 #title{
    width: 100%;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 30px;
    color: #333;
    text-align: center;
    opacity: 0;
    margin-bottom: 80px;
}

#sec5 img{
    margin:auto;
    display: table;
    width: 80%;
    opacity: 0;
}




/*footer*/
                
    footer{
            width: 100%;
            height: 200px;
            margin-bottom: 80px;
        }
    footer .container{
            display: flex;
        }
    footer #prev{
            width: 49.5%;
            height: 200px;
        }
    footer #line{
            margin-top: 20px;
            width: 0.05em;
            height: 160px;
            background-color: #ccc; 
        }
    footer #next{
            width: 49.5%;
            height: 200px;
        }
        
    footer #prev #textarea{
            margin-top: 70px;
            float: right;
            margin-right: 130px;
            color: #999;
            transition: all .5s;
            letter-spacing: 1.5px;
        }
    footer #prev #textarea #txt1{
            font-size: 30px;
            text-align: right;
            font-weight: 500;
        }
    footer #prev #textarea #txt2{
            margin-top: 15px;
            font-size: 16px;
            text-align: right;
        }
     footer #next #textarea{
            margin-top: 70px;
            margin-left: 130px;
            color: #999;
            transition: all .5s;
            letter-spacing: 1.5px;
        }
    footer #next #textarea #txt1{
            font-size: 30px;
            font-weight: 500;
        }
    footer #next #textarea #txt2{
            margin-top: 15px;
            font-size: 16px;
        }
    footer #next #textarea:hover{
            color: #757575;
            transform: translateX(5px);
        }
    footer #prev #textarea:hover{
            color: #757575;
            transform: translateX(-5px);
        }
        
    footer a{
        text-decoration: none;
        color: inherit;
        }
