@media ( max-width: 768px ) {

    
/*header    */

header{
        height: 620px;
        padding-top: 3em;
    
            
        }
        
#coverimg{
        position: absolute;
        top: 300px;
        height: 400px;
        z-index: -1;
        right: auto;
        left: auto;
        animation: opacity, moveLeft;
        animation-duration: 2s;
        clip: rect(0px, 1200px, 256px, 0px);
    
        }
        
.title_container{
            margin-top: 50px;
        }
header #title{
            margin-top: 0em;
            margin-left: 15px;
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 3.5em;
            display: inline-block;
            animation : moveUp;
            animation-duration: .8s;
            
        }
        
        
#subtitle1{
            margin-left: 20px;
            margin-top: 20px;
            font-size: .8em;
            letter-spacing: .8em;
            line-height: 3em;
            animation : moveRight_delay, opacity_delay;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
        }
        
#subtitle2{
            margin-left: 20px;
            margin-top: 26em;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 23px;
            animation : moveRight_delay, opacity_delay;
            animation-duration: 1.8s;
            animation-timing-function: ease-in-out;
            margin-bottom: 27em;
     }

/*section*/

.secdivider{
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.secdivider_left{
    width: 100%; 
    height: 300px; 
    opacity: 0;
}
.secdivider_right{
    width:100%;
    height: 30opx;
    opacity: 0;
}






#sec1{
    width: 100%;
    opacity: 0;
    height: 107em;
}

#sec1 #title{
    width: 100%;
    margin-top: 3em;
    margin-left: auto;
    
    font-size: 1.8em;
    text-align: center;
    color: #aeaeae; 
    opacity: 0;
}

#sec1 #txt1{
    margin-left: auto;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    line-height: 30px;
    color: #757575;  
    opacity: 0;
}

#sec1 #img_arrow, .arrow_caption_container{
    visibility: hidden;
}

.character_container{
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    margin-bottom: 10px;
}

#sec1 #img_sloth{
    width: 240px;
    height: 210px;
    margin-top: 0px;
}
#sec1 #img_cat{
    width: 240px;
    height: 210px;
    margin-top: 60px;
}

#sec1 #img_dog{
    width: 240px;
    height: 210px;
    margin-top: 60px;
}

#sec1 #img_monky{
    width: 240px;
    height: 210px;
    margin-top: 60px;
}

#sec1 .caption{
    width: 240px;
    margin-left: 40px;
}

#sec2{
    width : 100%;
    height: 850px;  
    opacity: 0;    
}
    
#bg1{
    position: absolute;
    left: 0;
    top:2300px;
    width : 100%;
    height: 800px;  
    background-color: #f3f3f3;
    z-index: -1;
}

#sec2 #title{
    width: 100%;
    margin-top: 4em;
    margin-left: auto;
    
    font-size: 1.8em;
    text-align: center;
    color: #aeaeae; 
    opacity: 0;
}

#sec2 #txt1{
    margin-left: auto;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    line-height: 30px;
    color: #757575;  
    opacity: 0;
}
    
    
.icon_container{
    position: absolute;
    top:2600px;
    right: 85px;
    width: 100%;
    height: auto;
}
.icon_container_1{
    display: flex;
    width: 100%;
    height: 80px;
}

.icon_container_1 div{
    width: 80px;
    height: 80px;
    margin-left: 7%;
    
}
    
.icon_container .mobileHidden{
    visibility: hidden;
}
    
.icon_container_1 #mobileShown{
    visibility: visible;
}
    
    
.icon_container img{
    width: 80px;
    
}
.icon_container_2{
    margin-top: 3em;
    display: flex;
    width: 100%;
    height: 5%;
}

.icon_container_2 div{
     width: 80px;
    height: 80px;
    margin-left: 7%;
    
}

.icon_container_3{
   margin-top: 3em;
    margin-right: 5em;
    display: flex;
    width: 100%;
    height: 80px;
}

.icon_container_3 div{
    width: 80px;
    height: 80px;
    margin-left: 7%;
    
}

#icon_grid{
    visibility: hidden;
}

#sec3 #title{
    font-weight: 900;
    letter-spacing: 2px;
    width: 100%;
    font-size: 2em;
    color: #333;
    text-align: center;
    opacity: 0;
}

#sec3 #img01{
    width: 100%;
    margin-top: 70px;
    margin-left: 0px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.1), 0 15px 10px rgba(0,0,0,0.1);
    float: left;
    opacity: 0;
}

#sec3 #name01{
   width: 100%;
    margin-top: 1em;
    color : #ccc;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 3px;
    display: inline-block;
    opacity: 0;
}

#sec3 #txt01{
 width: 100%;
    display: inline-block;
    width: 18em;
    line-height: 1.8;
    margin-left: 2em;
    margin-top: 2em;
    opacity: 0;
}

#sec3 #img02{
    margin-top: 10em;
    width: 100%;
    margin-right: 0px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.1), 0 15px 10px rgba(0,0,0,0.1);
    float: right;
    opacity: 0;
}

#sec3 #name02{
     width: 100%;
    margin-top: 1em;
    color : #ccc;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 3px;
    display: inline-block;
    opacity: 0;
}

#sec3 #txt02{
  width: 100%;
    display: inline-block;
    width: 18em;
    line-height: 1.8;
    margin-left: 2em;
    margin-top: 2em;
    opacity: 0;
    margin-bottom: 10em;
}
    
#sec4{
    height: 900px;
}


#sec4 #smallTitle{
    margin-top: 0px;
    padding-top: 3em;
    font-size: 1.3em;
    color: #757575;
    text-align: center;
    opacity: 0;
    font-weight: 900;
    letter-spacing: 2px;
    opacity: 0;
}


#sec4 #bigTitle{
    margin-top: 11.4em;
    width: 100%;
    font-size: 1.5em;
    color: #aeaeae;
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    opacity: 0;
}

#sec4 #txt1{
    font-size: 13px;
    margin-top: 30px;
    line-height: 30px;
    color: #757575;   
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 0;
}



#sec4 #reflet_all{
    margin-top: 40px;
    width : 100%;
    position: absolute;
    left: 0;
    background-color: #eee;
    opacity: 0;
}
    
#sec5{
    height: 600px;
}

#sec5 #title{
    margin-top: 0;
    width: 100%;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 2em;
    color: #333;
    text-align: center;
    opacity: 0;
    margin-bottom: 50px;
}

#sec5 img{
    margin:auto;
    display: table;
    width: 100%;
    opacity: 0;
}
    
/*footer*/
                
footer{
            width: 100%;
            height: 202px;
            margin-bottom: 100px;
        }
footer .container{
            display: flex;
        }
footer #prev{
            width: 49.5%;
        }
footer #line{
            margin-top: 20px;
            width: 0.05em;
            height: 160px;
            background-color: #ccc; 
        }
footer #next{
            width: 49.5%;
        }
        
footer #prev #textarea{
            margin-top: 50px;
            float: right;
            margin-right: 16%;
            color: #999;
            transition: all .5s;
            letter-spacing: 1.5px;
        }
footer #prev #textarea #txt1{
            font-size: 24px;
            text-align: right;
            font-weight: 500;
        }
    footer #prev #textarea #txt2{
            margin-top: 14px;
            font-size: 14px;
            text-align: right;
        }
     footer #next #textarea{
            margin-top: 50px;
            margin-left: 16%;
            color: #999;
            transition: all .5s;
            letter-spacing: 1.5px;
        }
    footer #next #textarea #txt1{
            font-size: 24px;
            font-weight: 500;
        }
    footer #next #textarea #txt2{
            margin-top: 14px;
            font-size: 14px;
        }
    footer #next #textarea:hover{
            color: #757575;
            transform: translateX(5px);
        }
    footer #prev #textarea:hover{
            color: #757575;
            transform: translateX(-5px);
        }
        
    footer a{
        text-decoration: none;
        color: inherit;
        }

}
