@media ( max-width: 768px ) {

    
/*header    */


header{
        height: 630px;
        padding-top: 3em;
    
            
        }
        
#coverimg{
        position: absolute;
        top: 300px;
        width: 80%;
    height: auto;
        z-index: -1;
        right: auto;
        left: auto;
        animation: opacity, moveLeft;
        animation-duration: 2s;
        clip: rect(0px, 1200px, 310px, 0px);
    
        }
        
.title_container{
            margin-top: 50px;
        }
header #title{
            margin-top: 0em;
            margin-left: 15px;
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 3.5em;
            display: inline-block;
            animation : moveRight, opacity;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            
        }
        
        
#subtitle1{
            margin-left: 20px;
            margin-top: 20px;
            font-size: .8em;
            letter-spacing: .8em;
            line-height: 3em;
            animation : moveRight_delay, opacity_delay;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
        }
        
#subtitle2{
            margin-left: 20px;
            margin-top: 28.5em;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 23px;
            animation : moveRight_delay, opacity_delay;
            animation-duration: 1.8s;
            animation-timing-function: ease-in-out;
            margin-bottom: 29em;
     }
    

/*section*/

#sec1{
    height: 297px;
    color: #fff;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 2px;
    opacity: 0;
    
}
    
#bg1{
    position: absolute;
    top: 740px;
    z-index: -1;
    height: 420px;
    width: 100%;
    left: 0;
    background-color: #CB8888;
}


#sec2{
    width : 100%;
    height: 500px;  
    opacity: 0;   
}

#sec2 #title{
    display: block;
    text-align: center;
    margin-top: 5em;
    font-size: 1.5em;
    font-weight: 600;
    color: #aeaeae; 
    margin-bottom: 2em;
    margin-left: auto;
    opacity: 0;
    
}

#sec2 img{
    margin: auto;
    width: 90%;
    opacity: 0;
}


#line1{
    height: 1px;
    background-color: #ccc;
    opacity: 0;
}
#sec3{
    width: 100%;
    opacity: 0;
}

#sec3 #title{
    display: block;
    text-align: center;
    margin-top: 120px;
    margin-left: auto;
    font-weight: 900;
    font-size: 1.8em;
    color: #aeaeae; 
    opacity: 0;
}

#sec3 .divider{
    margin-top: 6em;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

#sec3 .divider div{
    width: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #aeaeae;
    margin-bottom: 2em;
    opacity: 0;
}

#sec3 .divider div img{
    width: 90%;
    height: 90%;
    opacity: 0;
}
    
#bg2{
    position: absolute;
    top: 3050px;
    z-index: -1;
    height: 500px;
    width: 100%;
    left: 0;
    background-color: #f3f3f3;
}
   

#sec4{
    height: 390px;
    color: #aeaeae;
    opacity: 0;
}

#sec4 #title{
    display: block;
    font-weight: 900;
    text-align: center;
    margin-top: 160px;
    margin-left: auto;
    font-size: 2em;
    color: #aeaeae; 
    opacity: 0;
}

#sec4 .colorContainer{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#sec4 #color1{
    margin-left: 20%;
    margin-right: 5%;
    width: 50%;
    text-align: center;
    line-height: 1.8;
    opacity: 0;
}

#sec4 #color1 span{
    color: #DC5E60;
    font-weight: 300;
}

#sec4 .colorContainer #pinkColor{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: #DC5E60;
    margin-bottom: 20px;
    opacity: 0;
}

#sec4 #color2{
    margin-left: 5%;
    margin-right: 20%;
    width: 50%;
    text-align: center;
    line-height: 1.8;
    opacity: 0;
}

#sec4 #color2 span{
    color: #298486;
    font-weight: 300;

}

#sec4 .colorContainer #greenColor{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: #298486;
    margin-bottom: 20px;
    opacity: 0;
}

#sec5{
    font-weight: 900;
    height: 600px;
    opacity: 0;
    margin-top: 10em;
}

#sec5 #title{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 100px;
    font-size: 2em;
    color: #aeaeae; 
    opacity: 0;
}

.variationContainer{
    display: flex;
    width: 100%;
    height: 140px;
    margin-top: 50px;
    justify-content: center;
    opacity: 0;
}

 
.variationContainer div{
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    height: auto;
    opacity: 0;
}

.variationContainer div img{
    width: 100%;
    opacity: 0;
}

#sec6{
    margin: 2em auto;
    opacity: 0;
    height: 400px;
    
}


#bg3{
    position: absolute;
    width: 120%;
    left: -10%;
}

/*footer*/
                
footer{
            width: 100%;
            height: 202px;
            margin-bottom: 100px;
        }
footer .container{
            display: flex;
        }
footer #prev{
            width: 49.5%;
        }
footer #line{
            margin-top: 20px;
            width: 0.05em;
            height: 160px;
            background-color: #ccc; 
        }
footer #next{
            width: 49.5%;
        }
        
footer #prev #textarea{
            margin-top: 50px;
            float: right;
            margin-right: 16%;
            color: #999;
            transition: all .5s;
            letter-spacing: 1.5px;
        }
footer #prev #textarea #txt1{
            font-size: 24px;
            text-align: right;
            font-weight: 500;
        }
    footer #prev #textarea #txt2{
            margin-top: 14px;
            font-size: 14px;
            text-align: right;
        }
     footer #next #textarea{
            margin-top: 50px;
            margin-left: 16%;
            color: #999;
            transition: all .5s;
            letter-spacing: 1.5px;
        }
    footer #next #textarea #txt1{
            font-size: 24px;
            font-weight: 500;
        }
    footer #next #textarea #txt2{
            margin-top: 14px;
            font-size: 14px;
        }
    footer #next #textarea:hover{
            color: #757575;
            transform: translateX(5px);
        }
    footer #prev #textarea:hover{
            color: #757575;
            transform: translateX(-5px);
        }
        
    footer a{
        text-decoration: none;
        color: inherit;
        }

}

        